<script>
    function showUser(str) {
        if (str == "") {
            document.getElementById("txtHint").innerHTML = "";
            return;
        } else {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("txtHint").innerHTML = this.responseText;
                }
            };
            xmlhttp.open("GET", "App/Controller/getuser.php?q=" + str, true);
            xmlhttp.send();
        }
    }
</script>

<script src="bootstrap-4.6.0/js/jquery-3.1.1.min.js"></script>

</body>

</html>